* {
    box-sizing: border-box
}

body {
    margin: 0;
}

.my-account-icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.my-account-icon a h2 {
    margin: 0;
    font-size: 1rem;
    color: #326164;
}

.my-account-icon img {
    background-color: greenyellow;
    width: 5rem;
    border-radius: 5rem;
}

.nav-bar {
    background-color: #f0f0f0;
    width: 1200px;
    margin: 0 auto;
    /* Making the navigation bar follow as you scroll */
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-content {
    max-width: 1200px;
    margin: 0 auto; /* Will keep the navigation content centred */
    display: flex;
    justify-content: space-between; /* Even spacing between the content */
    align-items: center; /* Align's items vertically centered */
    gap: 2rem; /* Prevents items from being too close to each other*/
    padding: 1rem 3rem; /* Prevents items from touching edge of page (1rem) */
    background-color: #e1ebed;
    color: #326164;
}

.site-title {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.site-title h1 {
    margin: 0;
    font-size: 2rem;
}
.site-title h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar ul {
    /* Removing default padding and margin associated with list */
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    gap: 4rem;
    align-items: center;
}

.nav-bar ul li{
    font-weight: bold;
}

.nav-bar li:active{
    background-color: hsl(164, 68%, 83%);
}

.nav-bar a {
    color: inherit;
    text-decoration: none;
}
.nav-bar a:hover{
    color: #00bfb2 ;
}

.location-and-contact{
    display: flex;
    justify-content: space-between;
    width: 1200px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.8rem;

    background-color: #326164;
    color: white;
}



.icon-and-location, .icon-and-contact {
    font-size: 0.7rem;
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    gap: 0.5rem; /* Space between icon and text */
    padding: 0.5rem; /* Add padding for better spacing */
}

.icon-and-location .fa-icon, .icon-and-contact .fa-icon {
    font-size: 1.5rem; /* Adjust the icon size */
    margin-right: 0.5rem; /* Add space between icon and text */
    align-self: center; /* Align it vertically */
}

