* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.contact-introduction-container {
    background-color: white;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-introduction-container p {
    font-size: 1.2rem;
    line-height: 2;
    text-align: center;
    padding: 4rem 6rem
}