* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.page-headings {
    margin: 0 auto;
    display: flex;
    background-color: #00bfb2;
    color: white;
    justify-content: center;
    max-width: 1200px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}