* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.entire-login-container {
    background-color: white;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;;
    justify-content: center;
}

.login-form-container {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login-form-container h1 {
    font-size: 2.5rem;
}

.login-form .username-container, .login-form .password-container{
    display: flex;
    flex-direction: column;
}

.password-container label, .username-container label {
    font-size: 1.3rem;
}

.password-container input, .username-container input {
    margin-bottom: 1rem;
    background-color: #d9d9d9;
}

.login-form .btn {
    padding: 0.5rem 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}