* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.entire-sign-up-container {
    background-color: #e1ebed;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;;
    justify-content: center;
}

.sign-up-form-container {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.sign-up-form-container h1 {
    font-size: 2.5rem;
}

.signup-first-name-container, .signup-last-name-container, .create-phone-number-container, .create-password-container, .confirm-password-container, .create-email-container {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1.3rem;
}

.sign-up-form div input {
    margin-bottom: 1rem;
    background-color: #d9d9d9;
}

.sign-up-form .btn {
    padding: 0.5rem 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}